@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');


#video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
}

.navbar-custom{
    background-color: #fffaed;
}

.bt-text{
    color: #244b84;
    font-weight: 800;
    font-size: 1.05rem;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

.bt-lable{
    padding-right: 110px;
}

.box{
    position:relative;
}
.box2{
    position:absolute;
    bottom:0;
    right:0;
    height: 70px;
    width: 100px;
    border: #244b84 solid 3px;
    text-align: center;
}

.box2 span{
    font-size: 20px;
    vertical-align:middle;
    padding-bottom: 20px;
}


.clock{
    position:absolute;
    top:0;
    left:0;
    background-color: #fffaed;
    height: 70px;
    width: 245px;
    margin: 12px;
    text-align: center;
}

.ck-text{
    color: #244b84;
    font-weight: 700;
    font-size: 2.75rem;
    font-family: 'Open Sans', sans-serif;
}

.distance{
    padding-top: 50px;
    color: #244b84;
    font-weight: 700;
    font-size: 1.35rem;
    font-family: 'Open Sans', sans-serif;
}

.start-screen{
    background-color: #244b84;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
}
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.start-text--big{
    color: #fffaed;
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Open Sans', sans-serif;
}

.start-text{
    color: #fffaed;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
}

.line{
    display: block;
    height: 1px;
    width: 25vw;
    border: 0;
    border-top: 4px solid #fffaed;
    margin: 1em 0;
    padding: 0;

}

.end-screen{
    background-color: #244b84;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.footer{
    background-color: #fffaed;
    display: block;
    height: 90px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.right{
    position:absolute;
    right: 0;
    margin-right: 10px;


}

.right .bt-text{
    color: #244b84;
    font-weight: 800;
    font-size: 1.05rem;
    font-family: 'Open Sans', sans-serif;
}